
{% extends "layout.html" %}

{% block title %}{{hotel.name}} – {{hotel.tagline}} – {{ super() }}{% endblock %}
{% block description %}{{hotel.intro}} – {{ super() }}{% endblock %}
{% block og_title %}{{hotel.name}} – {{hotel.tagline}} – {{ super() }}{% endblock %}
{% block og_description %}{{hotel.intro}} – {{ super() }}{% endblock %}


{% block header_classes %}white_back{% endblock %}
{% block main_classes %}{% endblock %}


{% block header %}
	{{super()}}

	{% block reservation %}
	<div class="reservation" id="reservation" data-icon='{% include "icons/down.svg" %}' data-hotel-id="{{hotel.reservation_id}}">
		<a href="http://softbooker.reservit.com/reservit/reserhotel.php?lang={{lang}}&hotelid={{hotel.reservation_id}}" class="button button--full button--no_corners" target="_blank">{{pieces.hotels.reservation}}</a>
	</div>
	{% endblock %}
{% endblock %}


{% block main %}
<article class="padded--under_header" data-hotel-id="{{hotel._id}}">
	<div class="hero" style="background-image: url({{hotel.featured_photo}})">
		<div class="hero__box">
			<div class="hero__box__content">
				<h2 class="h2--big big_bottom">{{hotel.tagline|safe}}</h2>
				<p class="p--small big_bottom">{{hotel.intro}}</p>
				<a href="/hotels/{{hotel.route}}/rooms" class="button button--secondary">{{pieces.hotels.see_rooms}}</a>
			</div>
		</div>
	</div>

	<div class="padded padded--thick max_width">
		<div class="big_bottom">{{hotel.description|safe}}</div>
		
		{% for photo in hotel.photos %}
		{% if loop.first %}
		<div class="hero hero--small" style="background-image: url({{photo}})">

			<div class="hero__box hero__box--transparent">
				<div class="hero__box__content">
					<a href="/hotels/{{hotel.route}}/photos" class="button button--secondary">{{pieces.hotels.see_photos}}</a>
				</div>
			</div>
		</div>
		{% endif %}
		{% endfor %}
	</div>
</article>
{% endblock %}


{% block footer %}
	<div class="grid grid--stretch">
		<div class="col col--4of12 col--phone--12of12">
			{% block footer_first %}
			<div class="hero hero--small hide_on_phone">
				<div class="hero__box hero__box--light hero__box--full">
					<div class="hero__box__content">
						<a href="/hotels/{{hotel.route}}/story"><h2>{{pieces.hotels.story}}</h2></a>
					</div>
				</div>
			</div>
			{% endblock %}
		</div>

		
		<div class="col col--8of12 col--phone--12of12">
			{% block footer_second %}
			<div class="hero hero--small" style="background-image: url({{hotel.proximity_photo}})">
				<div class="hero__box hero__box--full">
					<div class="hero__box__content">
						<a href="/hotels/{{hotel.route}}/proximity">
							<h2 class="flat_bottom">{{pieces.hotels.proximity}}</h2>
							<p class="p--small">{{hotel.proximity_intro|safe}}</p>
						</a>
					</div>
				</div>
			</div>
			{% endblock %}
		</div>	
	</div>

	{{super()}}
{% endblock %}







