
{% extends "hotels/hotel.html" %}

{% if gallery.hotel %}
{% set hotel = gallery.hotel %}
{% else %}
{% set hotel = gallery.room.parent %}
{% endif %}

{% block title %}Photos – {% if room %}{{room.name}} – {% endif %}{{ super() }}{% endblock %}
{% block description %}Photos – {% if room %}{{room.description}} – {% endif %}{{ super() }}{% endblock %}
{% block og_title %}Photos – {% if room %}{{room.name}} – {% endif %}{{ super() }}{% endblock %}
{% block og_description %}Photos – {% if room %}{{room.description}} – {% endif %}{{ super() }}{% endblock %}


{% block main_classes %}dark_back{% endblock %}
{% block header_classes %}dark_back{% endblock %}


{% block header %}
<nav class="nav grid grid--spaced grid--middle">
	<div></div>
	<div><h3>{{hotel.name}}{% if gallery.room %}: {{gallery.room.name}}{% endif %}</h3></div>
	<div><a href="/hotels/{{hotel.route}}{% if gallery.room %}/rooms/{{gallery.room.route}}{% endif %}">Close &nbsp; {% include 'icons/close.svg' %}</a></div>
</nav>
{% endblock %}


{% block main %}
<div class="grid grid--spaced grid--middle padded padded--thick">
	<div><!-- <button class="button--transparent">&lt; Previous</button> --></div>
	<div class="col col--10of12">
		{% for photo in gallery.photos %}
		<img src="{{photo}}" class="medium_bottom">
		{% endfor %}
	</div>
	<div><!-- <button class="button--transparent">Next &gt;</button> --></div>
</div>
{% endblock %}


{% block footer %}

{% endblock %}





