
{% extends "hotels/hotel.html" %}

{% if gallery.hotel %}
{% set hotel = gallery.hotel %}
{% else %}
{% set hotel = gallery.room.parent %}
{% endif %}

{% block title %}Photos – {% if gallery.room %}{{gallery.room.name}} – {% endif %}{{ super() }}{% endblock %}
{% block description %}Photos – {% if gallery.room %}{{gallery.room.description}} – {% endif %}{{ super() }}{% endblock %}
{% block og_title %}Photos – {% if gallery.room %}{{gallery.room.name}} – {% endif %}{{ super() }}{% endblock %}
{% block og_description %}Photos – {% if gallery.room %}{{gallery.room.description}} – {% endif %}{{ super() }}{% endblock %}


{% block main_classes %}dark_back{% endblock %}
{% block header_classes %}dark_back{% endblock %}


{% block header %}
<nav class="nav grid grid--spaced grid--middle">
	<div class="col col--3of12"></div>
	<div><h3>{{hotel.name}}{% if gallery.room %}: {{gallery.room.name}}{% endif %}</h3></div>
	<div class="col col--3of12 text_right"><a href="{{lang_route}}hotels/{{hotel.route}}{% if gallery.room %}/rooms/{{gallery.room.route}}{% endif %}">Fermer &nbsp; {% include 'icons/close.svg' %}</a></div>
</nav>
{% endblock %}


{% block main %}
<div class="padded" data-slider data-slides='{% for photo in gallery.photos %}{{photo.image}}{% if not loop.last %},{% endif %}{% endfor %}' {% if request.current_session_is_admin %}data-hotel="{{hotel._id}}"{% if gallery.room %} data-room="{{gallery.room._id}}"{% endif %} data-slides-list="photos" data-slides-key="image"{% endif %}>
	<div class="grid grid--center grid--middle">
		<div class="col col--10of12 col--tablet_portrait--12of12">
			{% for photo in gallery.photos %}
			<img src="{{photo.image|replace('https://d3hy1swj29dtr7.cloudfront.net/uploads', 'https://saturdays.imgix.net')|replace('https://d3hy1swj29dtr7.cloudfront.net/dauphin', 'https://dauphin.imgix.net')}}?auto=format,compress&w=800" class="img--full">
			{% endfor %}
		</div>
	</div>
</div>
{% endblock %}


{% block footer %}

{% endblock %}





