
{% extends "hotels/hotel.html" %}


{% block title %}{{interface.promotions}} – {% if room %}{{room.name}} – {% endif %}{{ super() }}{% endblock %}
{% block description %}{{interface.promotions}} – {% if room %}{{room.description}} – {% endif %}{{ super() }}{% endblock %}
{% block og_title %}{{interface.promotions}} – {% if room %}{{room.name}} – {% endif %}{{ super() }}{% endblock %}
{% block og_description %}{{interface.promotions}} – {% if room %}{{room.description}} – {% endif %}{{ super() }}{% endblock %}



{% block main %}
<article class="padded--under_header" data-hotel-id="{{hotel._id}}">
	<div class="hero" style="background-image: url({{hotel.promotions_photo|asset}}?auto=format,compress&w=1400)">
		<div class="hero__box hero__box--full">
			<div class="hero__box__content">
				<h3 class="small_bottom"><a href="{{lang_route}}hotels/{{hotel.identifier}}">&lt; {{interface.back_to_hotel}}</a></h3>
				<h1>{{interface.promotions}}</h1>
			</div>
		</div>
	</div>

	<div class="padded padded--thick max_width">
		<h2 class="huge_bottom">{{hotel.promotions_intro}}</h2>

		{{hotel.promotions_body|markdown}}
	</div>
</article>
{% endblock %}








