
{% extends "hotels/hotel.html" %}


{% block title %}{{interface.proximity}} – {% if room %}{{room.name}} – {% endif %}{{ super() }}{% endblock %}
{% block description %}{{interface.proximity}} – {% if room %}{{room.description}} – {% endif %}{{ super() }}{% endblock %}
{% block og_title %}{{interface.proximity}} – {% if room %}{{room.name}} – {% endif %}{{ super() }}{% endblock %}
{% block og_description %}{{interface.proximity}} – {% if room %}{{room.description}} – {% endif %}{{ super() }}{% endblock %}



{% block main %}
<article class="padded--under_header" data-hotel-id="{{hotel._id}}">
	<div class="hero" style="background-image: url({{hotel.proximity_photo|asset}}?auto=format,compress&w=1400)">
		<div class="hero__box hero__box--full">
			<div class="hero__box__content">
				<h3 class="small_bottom"><a href="{{lang_route}}hotels/{{hotel.identifier}}">&lt; {{interface.back_to_hotel}}</a></h3>
				<h1>{{interface.proximity}}</h1>
			</div>
		</div>
	</div>

	<div class="padded padded--thick max_width">
		<h2 class="huge_bottom">{{hotel.proximity_intro}}</h2>

		<div class="big_bottom">
			<div class="grid grid--guttered">
				<div class="col col--4of12">
					<h3>{{interface.restaurants}}</h3>
				</div>
				<div class="col col--8of12">
					<div class="normal_bottom">
						{% for item in hotel.proximity %}
						{% if item.type == 'Restaurant' %}
						<a href="{{item.link}}" target="_blank">
							<strong>{{item.name}}</strong>
							<p>{{item.description}}</p>
						</a>
						{% endif %}
						{% endfor %}
					</div>
				</div>
			</div>
		</div>

		<div class="big_bottom">
			<div class="grid grid--guttered">
				<div class="col col--4of12">
					<h3>{{interface.cafes}}</h3>
				</div>
				<div class="col col--8of12">
					<div class="normal_bottom">
						{% for item in hotel.proximity %}
						{% if item.type == 'Café' %}
						<a href="{{item.link}}" target="_blank">
							<strong>{{item.name}}</strong>
							<p>{{item.description}}</p>
						</a>
						{% endif %}
						{% endfor %}
					</div>
				</div>
			</div>
		</div>

		<div class="big_bottom">
			<div class="grid grid--guttered">
				<div class="col col--4of12">
					<h3>{{interface.bars}}</h3>
				</div>
				<div class="col col--8of12">
					{% for item in hotel.proximity %}
					{% if item.type == 'Bar' %}
					<a href="{{item.link}}" target="_blank">
						<strong>{{item.name}}</strong>
						<p>{{item.description}}</p>
					</a>
					{% endif %}
					{% endfor %}
				</div>
			</div>
		</div>

		<div class="big_bottom">
			<div class="grid grid--guttered">
				<div class="col col--4of12">
					<h3>{{interface.quick_bites}}</h3>
				</div>
				<div class="col col--8of12">
					{% for item in hotel.proximity %}
					{% if item.type == 'Quick Bite' %}
					<a href="{{item.link}}" target="_blank">
						<strong>{{item.name}}</strong>
						<p>{{item.description}}</p>
					</a>
					{% endif %}
					{% endfor %}
				</div>
			</div>
		</div>

		<div class="big_bottom">
			<div class="grid grid--guttered">
				<div class="col col--4of12">
					<h3>{{interface.others}}</h3>
				</div>
				<div class="col col--8of12">
					{% for item in hotel.proximity %}
					{% if item.type == 'Other' %}
					<a href="{{item.link}}" target="_blank">
						<strong>{{item.name}}</strong>
						<p>{{item.description}}</p>
					</a>
					{% endif %}
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
</article>
{% endblock %}


{% block footer_second %}
<div class="hero hero--small" {% if hotel.rooms[0] %}style="background-image: url({{hotel.rooms[0].featured_photo|asset}}?auto=format,compress&w=1000)"{% endif %}>
	<div class="hero__box hero__box--full">
		<div class="hero__box__content">
			<a href="{{lang_route}}hotels/{{hotel.identifier}}/rooms" class="button button--secondary">{{interface.see_rooms}}</a>
		</div>
	</div>
</div>
{% endblock %}







