
{% extends "hotels/hotel.html" %}


{% block title %}{{pieces.hotels.proximity}} – {% if room %}{{room.name}} – {% endif %}{{ super() }}{% endblock %}
{% block description %}{{pieces.hotels.proximity}} – {% if room %}{{room.description}} – {% endif %}{{ super() }}{% endblock %}
{% block og_title %}{{pieces.hotels.proximity}} – {% if room %}{{room.name}} – {% endif %}{{ super() }}{% endblock %}
{% block og_description %}{{pieces.hotels.proximity}} – {% if room %}{{room.description}} – {% endif %}{{ super() }}{% endblock %}



{% block main %}
<article class="padded--under_header" data-hotel-id="{{hotel._id}}">
	<div class="hero" style="background-image: url({{hotel.proximity_photo}})">
		<div class="hero__box hero__box--full">
			<div class="hero__box__content">
				<h3 class="small_bottom"><a href="/hotels/{{hotel.route}}">&lt; {{pieces.hotels.back_to_hotel}}</a></h3>
				<h1>{{pieces.hotels.proximity}}</h1>
			</div>
		</div>

		{% if request.current_session_is_admin %}
		<div data-hotel="{{hotel._id}}" data-key="proximity_photo" data-editable-background-image="{{hotel.proximity_photo}}"></div>
		{% endif %}
	</div>

	<div class="padded padded--thick max_width">
		<h2 class="huge_bottom">{{hotel.proximity_intro|editable('proximity_intro', {'hotel': hotel._id})}}</h2>

		<div class="big_bottom">
			<div class="grid grid--guttered">
				<div class="col col--4of12">
					<h3>{{pieces.hotels.proximity_restaurants}}</h3>
				</div>
				<div class="col col--8of12">
					{% filter editable_list('proximity_restaurants', {'hotel': hotel._id}) %}
					{% for item in hotel.proximity_restaurants %}
					<div class="normal_bottom" data-list-item>
						{% if request.current_session_is_admin %}
						Link url: <code>{{item.link|editable('link', {'list': 'proximity_restaurants', 'index': loop.index0, 'hotel': hotel._id})}}</code><br>
						{% endif %}
						<a href="{{item.link}}" target="_blank">
							<strong>{{item.name|editable('name', {'list': 'proximity_restaurants', 'index': loop.index0, 'hotel': hotel._id})}}</strong><br>
							{{item.description|editable('description', {'list': 'proximity_restaurants', 'index': loop.index0, 'hotel': hotel._id})}}
						</a>
					</div>
					{% endfor %}
					{% endfilter %}
				</div>
			</div>
		</div>

		<div class="big_bottom">
			<div class="grid grid--guttered">
				<div class="col col--4of12">
					<h3>{{pieces.hotels.proximity_cafes}}</h3>
				</div>
				<div class="col col--8of12">
					{% filter editable_list('proximity_cafes', {'hotel': hotel._id}) %}
					{% for item in hotel.proximity_cafes %}
					<div class="normal_bottom" data-list-item>
						{% if request.current_session_is_admin %}
						Link url: <code>{{item.link|editable('link', {'list': 'proximity_cafes', 'index': loop.index0, 'hotel': hotel._id})}}</code><br>
						{% endif %}
						<a href="{{item.link}}" target="_blank">
							<strong>{{item.name|editable('name', {'list': 'proximity_cafes', 'index': loop.index0, 'hotel': hotel._id})}}</strong><br>
							{{item.description|editable('description', {'list': 'proximity_cafes', 'index': loop.index0, 'hotel': hotel._id})}}
						</a>
					</div>
					{% endfor %}
					{% endfilter %}
				</div>
			</div>
		</div>

		<div class="big_bottom">
			<div class="grid grid--guttered">
				<div class="col col--4of12">
					<h3>{{pieces.hotels.proximity_bars}}</h3>
				</div>
				<div class="col col--8of12">
					{% filter editable_list('proximity_bars', {'hotel': hotel._id}) %}
					{% for item in hotel.proximity_bars %}
					<div class="normal_bottom" data-list-item>
						{% if request.current_session_is_admin %}
						Link url: <code>{{item.link|editable('link', {'list': 'proximity_bars', 'index': loop.index0, 'hotel': hotel._id})}}</code><br>
						{% endif %}
						<a href="{{item.link}}" target="_blank">
							<strong>{{item.name|editable('name', {'list': 'proximity_bars', 'index': loop.index0, 'hotel': hotel._id})}}</strong><br>
							{{item.description|editable('description', {'list': 'proximity_bars', 'index': loop.index0, 'hotel': hotel._id})}}
						</a>
					</div>
					{% endfor %}
					{% endfilter %}
				</div>
			</div>
		</div>

		<div class="big_bottom">
			<div class="grid grid--guttered">
				<div class="col col--4of12">
					<h3>{{pieces.hotels.proximity_quick_bites}}</h3>
				</div>
				<div class="col col--8of12">
					{% filter editable_list('proximity_quick_bites', {'hotel': hotel._id}) %}
					{% for item in hotel.proximity_quick_bites %}
					<div class="normal_bottom" data-list-item>
						{% if request.current_session_is_admin %}
						Link url: <code>{{item.link|editable('link', {'list': 'proximity_quick_bites', 'index': loop.index0, 'hotel': hotel._id})}}</code><br>
						{% endif %}
						<a href="{{item.link}}" target="_blank">
							<strong>{{item.name|editable('name', {'list': 'proximity_quick_bites', 'index': loop.index0, 'hotel': hotel._id})}}</strong><br>
							{{item.description|editable('description', {'list': 'proximity_quick_bites', 'index': loop.index0, 'hotel': hotel._id})}}
						</a>
					</div>
					{% endfor %}
					{% endfilter %}
				</div>
			</div>
		</div>

		<div class="big_bottom">
			<div class="grid grid--guttered">
				<div class="col col--4of12">
					<h3>{{pieces.hotels.proximity_others}}</h3>
				</div>
				<div class="col col--8of12">
					{% filter editable_list('proximity_others', {'hotel': hotel._id}) %}
					{% for item in hotel.proximity_others %}
					<div class="normal_bottom" data-list-item>
						{% if request.current_session_is_admin %}
						Link url: <code>{{item.link|editable('link', {'list': 'proximity_others', 'index': loop.index0, 'hotel': hotel._id})}}</code><br>
						{% endif %}
						<a href="{{item.link}}" target="_blank">
							<strong>{{item.name|editable('name', {'list': 'proximity_others', 'index': loop.index0, 'hotel': hotel._id})}}</strong><br>
							{{item.description|editable('description', {'list': 'proximity_others', 'index': loop.index0, 'hotel': hotel._id})}}
						</a>
					</div>
					{% endfor %}
					{% endfilter %}
				</div>
			</div>
		</div>
	</div>
</article>
{% endblock %}


{% block footer_second %}
<div class="hero hero--small" {% if hotel.rooms[0] %}style="background-image: url({{hotel.rooms[0].featured_photo}})"{% endif %}>
	<div class="hero__box hero__box--full">
		<div class="hero__box__content">
			<a href="/hotels/{{hotel.route}}/rooms" class="button button--secondary">{{pieces.hotels.see_rooms}}</a>
		</div>
	</div>
</div>
{% endblock %}







