
{% extends "hotels/hotel.html" %}


{% block title %}Réservation – {% if room %}{{room.name}} – {% endif %}{{ super() }}{% endblock %}
{% block description %}Réservation – {% if room %}{{room.description}} – {% endif %}{{ super() }}{% endblock %}
{% block og_title %}Réservation – {% if room %}{{room.name}} – {% endif %}{{ super() }}{% endblock %}
{% block og_description %}Réservation – {% if room %}{{room.description}} – {% endif %}{{ super() }}{% endblock %}



{% block main %}
{% if lang %}
<script type="text/javascript" src="https://images.iqwareinc.com/sites/guestdesk/bundle.{{lang}}.js"></script>
{% else %}
<script type="text/javascript" src="https://images.iqwareinc.com/sites/guestdesk/bundle.fr.js"></script>
{% endif %}
<script type="text/javascript" src="https://images.iqwareinc.com/sites/hoteldauphin_ca/js/gd5-custom.js"></script>

<article class="padded--under_header" data-hotel-id="{{hotel._id}}">
	<div class="hero hero--small" style="background-image: url({{hotel.featured_photo|asset}}?auto=format,compress&w=1400)">
		<div class="hero__box hero__box--full">
			<div class="hero__box__content">
				<h3 class="small_bottom"><a href="{{lang_route}}hotels/{{hotel.identifier}}">&lt; {{interface.back_to_hotel}}</a></h3>
				<h1>{{interface.reservation}}</h1>
			</div>
		</div>
	</div>

	<div class="padded padded--thick">
    <guestdesk>
      <img class="guestdesk-loading-icon" src="https://images.iqwareinc.com/sites/guestdesk/css/loading_icon.gif" style="margin-left: auto; margin-right: auto;"/>
    </guestdesk>
    <link href="https://images.iqwareinc.com/sites/hoteldauphin_ca/css/gd5-screen.css" rel="stylesheet">
    <script type="text/javascript">
    var domReady = function(callback) {
        document.readyState === "interactive" || document.readyState === "complete" ? callback() : document.addEventListener("DOMContentLoaded", callback);
    };
    var  baseConfig = {
      'SiteName': 'HotelDauphinMontreal'
    };
    domReady(function() {
      new Guestdesk(baseConfig).loadBooking();
    });
    </script>
  </div>
</article>
{% endblock %}






