
{% extends "hotels/hotel.html" %}

{% set hotel = room.parent %}

{% block title %}{{room.name}} –  {{ super() }}{% endblock %}
{% block description %}{{room.description}} – {{ super() }}{% endblock %}
{% block og_title %}{{room.name}} – {{ super() }}{% endblock %}
{% block og_description %}{{room.description}} – {{ super() }}{% endblock %}


{% block main %}
<article class="padded--under_header" data-room-id="{{room._id}}">
	<div class="hero" style="background-image: url(https://res.cloudinary.com/deming/image/fetch/f_auto,q_auto,w_1400/{{room.featured_photo}})">
		<div class="hero__box hero__box--full">
			<div class="hero__box__content">
				<h3 class="small_bottom"><a href="{{lang_route}}hotels/{{hotel.route}}/rooms">&lt; {{pieces.hotels.rooms}}</a></h3>
				<h1 class="big_bottom">{{room.name|editable('name', {'hotel': hotel._id, 'room': room._id})}}</h1>
				<a href="{{lang_route}}hotels/{{hotel.route}}/rooms/{{room.route}}/photos" class="button button--secondary button--small">{{pieces.hotels.room_photos}}</a>
			</div>
		</div>

		{% if request.current_session_is_admin %}
		<div data-hotel="{{hotel._id}}" data-room="{{room._id}}" data-key="featured_photo" data-editable-background-image="{{room.featured_photo}}"></div>
		{% endif %}
	</div>

	<div class="padded padded--thick huge_bottom max_width">
		{% if request.current_session_is_admin %}
		<div class="grid grid--spaced medium_bottom">
			<div class="col">
				Room url: <code>{{lang_route}}hotels/{{hotel.route}}/rooms/{{room.route|editable('route', {'hotel': hotel._id, 'room': room._id})}}</code>
			</div>
			<div class="col">
				<div data-hotel="{{hotel._id}}" data-remove-room="{{room._id}}"></div>
			</div>
		</div>
		{% endif %}

		<h2 class="huge_bottom">{{room.description|editable('description', {'hotel': hotel._id, 'room': room._id})}}</h2>

		<div class="grid grid--guttered">
			<div class="col col--4of12 col--tablet_portrait--6of12 col--phone--12of12">
				<h3>{{pieces.hotels.in_the_room|editable('in_the_room', {'piece': pieces.hotels._id})}}</h3>
			</div>
			<div class="col col--8of12 col--tablet_portrait--10of12 col--phone--12of12">
				{% filter editable_list('in_the_room', {'hotel': hotel._id, 'room': room._id}) %}
				<div class="grid grid--tight_guttered">
					{% for item in room.in_the_room %}
					<div class="col col--6of12 col--phone--12of12" data-list-item>
						{% filter editable('icon', {'list': 'in_the_room', 'index': loop.index0, 'hotel': hotel._id, 'room': room._id, 'icon': item.icon}, False) %}<svg class="icon"><use xlink:href="#icon-{{item.icon}}" /></svg>{% endfilter %}&nbsp;&nbsp;
						<small>{{item.body|editable('body', {'list': 'in_the_room', 'index': loop.index0, 'hotel': hotel._id, 'room': room._id})}}</small>
					</div>
					{% endfor %}
				</div>
				{% endfilter %}

				<h5 class="medium_top">{{pieces.hotels.on_demand|editable('on_demand', {'piece': pieces.hotels._id})}}</h5>

				{% filter editable_list('in_the_room_on_demand', {'hotel': hotel._id, 'room': room._id}) %}
				<div class="grid grid--tight_guttered">
					{% for item in room.in_the_room_on_demand %}
					<div class="col col--6of12 col--phone--12of12" data-list-item>{% filter editable('icon', {'list': 'in_the_room_on_demand', 'index': loop.index0, 'hotel': hotel._id, 'room': room._id, 'icon': item.icon}, False) %}<svg class="icon"><use xlink:href="#icon-{{item.icon}}" /></svg>{% endfilter%}&nbsp;&nbsp; <small>{{item.body|editable('body', {'list': 'in_the_room_on_demand', 'index': loop.index0, 'hotel': hotel._id, 'room': room._id})}}</small></div>
					{% endfor %}
				</div>
				{% endfilter %}
			</div>
		</div>

		<hr class="hr--full">

		<div class="grid grid--guttered">
			<div class="col col--4of12 col--tablet_portrait--6of12 col--phone--12of12">
				<h3>{{pieces.hotels.policies|editable('policies', {'piece': pieces.hotels._id})}}</h3>
			</div>
			<div class="col col--8of12 col--tablet_portrait--10of12 col--phone--12of12">
				<div class="grid grid--tight_guttered">
					<div class="col col--6of12"><small>{{pieces.hotels.check_in|editable('check_in', {'piece': pieces.hotels._id})}}: <strong>{{hotel.check_in|editable('check_in', {'hotel': hotel._id})}}</strong></small></div>
					<div class="col col--6of12"><small>{{pieces.hotels.check_out|editable('check_out', {'piece': pieces.hotels._id})}}: <strong>{{hotel.check_out|editable('check_out', {'hotel': hotel._id})}}</strong></small></div>

					{% filter editable_list('policies', {'hotel': hotel._id}) %}
					{% for item in hotel.policies %}
					<div class="col col--12of12" data-list-item><small>{{item.body|editable('body', {'list': 'policies', 'index': loop.index0, 'hotel': hotel._id})}}</small></div>
					{% endfor %}
					{% endfilter %}
				</div>
			</div>
		</div>

		<hr class="hr--full">

		<div class="grid grid--guttered">
			<div class="col col--4of12 col--tablet_portrait--6of12 col--phone--12of12">
				<h3>{{pieces.hotels.services|editable('services', {'piece': pieces.hotels._id})}}</h3>
			</div>
			<div class="col col--8of12 col--tablet_portrait--10of12 col--phone--12of12">
				{% filter editable_list('services', {'hotel': hotel._id, 'room': room._id}) %}
				<div class="grid grid--tight_guttered">
					{% for item in room.services %}
					<div class="col col--6of12 col--phone--12of12" data-list-item>{% filter editable('icon', {'list': 'services', 'index': loop.index0, 'hotel': hotel._id, 'room': room._id, 'icon': item.icon}, False) %}<svg class="icon"><use xlink:href="#icon-{{item.icon}}" /></svg>{% endfilter%}&nbsp;&nbsp; <small>{{item.body|editable('body', {'list': 'services', 'index': loop.index0, 'hotel': hotel._id, 'room': room._id})}}</small></div>
					{% endfor %}
				</div>
				{% endfilter %}
			</div>
		</div>

		<hr class="hr--full">

		<div class="grid grid--guttered">
			<div class="col col--4of12 col--tablet_portrait--6of12 col--phone--12of12">
				<h3>{{pieces.hotels.paid_services|editable('paid_services', {'piece': pieces.hotels._id})}}</h3>
			</div>
			<div class="col col--8of12 col--tablet_portrait--10of12 col--phone--12of12">
				{% filter editable_list('paid_services', {'hotel': hotel._id, 'room': room._id}) %}
				<div class="grid grid--tight_guttered">
					{% for item in room.paid_services %}
					<div class="col col--6of12 col--phone--12of12" data-list-item>{% filter editable('icon', {'list': 'paid_services', 'index': loop.index0, 'hotel': hotel._id, 'room': room._id, 'icon': item.icon}, False) %}<svg class="icon"><use xlink:href="#icon-{{item.icon}}" /></svg>{% endfilter%}&nbsp;&nbsp; <small>{{item.body|editable('body', {'list': 'paid_services', 'index': loop.index0, 'hotel': hotel._id, 'room': room._id})}}</small></div>
					{% endfor %}
				</div>
				{% endfilter %}
			</div>
		</div>
	</div>
</article>
{% endblock %}





