
<section class="dark_back grid grid--full_height middle center">
	<div class="text_center">
		<h3>{{interface.rooms}}</h3>

		<hr>

		<div class="padded">
		{% for room in rooms %}
			{% if not room.hidden %}
			<h2 class="small_bottom"><a href="{{lang_route}}hotels/{{hotel.identifier}}/rooms/{{room.identifier}}">{{room.name}}</a></h2>
			{% endif %}
		{% endfor %}

		{% if request.current_session_is_admin %}
		<div data-hotel="{{hotel._id}}" data-add-new-room></div>
		{% endif %}
		</div>

		<hr>

		<h3><a href="{{lang_route}}hotels/{{hotel.identifier}}">&lt; {{interface.back_to_hotel}}</a></h3>
	</div>
</section>