
{% extends "hotels/hotel.html" %}

{% set hotel = room.parent %}

{% block title %}{{room.name}} –  {{ super() }}{% endblock %}
{% block description %}{{room.description}} – {{ super() }}{% endblock %}
{% block og_title %}{{room.name}} – {{ super() }}{% endblock %}
{% block og_description %}{{room.description}} – {{ super() }}{% endblock %}


{% block main %}
<article class="padded--under_header" data-room-id="{{room._id}}">
	<div class="hero" style="background-image: url({{room.featured_photo|asset}}?auto=format,compress&w=1400)">
		<div class="hero__box hero__box--full">
			<div class="hero__box__content">
				<h3 class="small_bottom"><a href="{{lang_route}}hotels/{{hotel.identifier}}/rooms">&lt; {{interface.rooms}}</a></h3>
				<h1 class="big_bottom">{{room.name}}</h1>
				<a href="{{lang_route}}hotels/{{hotel.identifier}}/rooms/{{room.identifier}}/photos" class="button button--secondary button--small">{{interface.room_photos}}</a>
			</div>
		</div>
	</div>

	<div class="padded padded--thick huge_bottom max_width">
		<h2 class="huge_bottom">{{room.description}}</h2>

		<div class="grid grid--guttered">
			<div class="col col--4of12 col--tablet_portrait--6of12 col--phone--12of12">
				<h3>{{interface.in_the_room}}</h3>
			</div>
			<div class="col col--8of12 col--tablet_portrait--10of12 col--phone--12of12">
				<div class="grid grid--tight_guttered">
				{% for service in room.services %}
				{% if service.type == 'In the room' %}
				<div class="col col--6of12 col--phone--12of12">
					<svg class="icon"><use xlink:href="#icon-{{service.icon}}" /></svg>&nbsp;&nbsp; <small>{{service.name}}</small>
				</div>
				{% endif %}
				{% endfor %}
				</div>

				{% for service in room.services %}
				{% if service.type == 'In the room on demand' %}
				<h5 class="medium_top">{{interface.on_demand}}</h5>
				{% break %}
				{% endif %}
				{% endfor %}

				<div class="grid grid--tight_guttered">
				{% for service in room.services %}
				{% if service.type == 'In the room on demand' %}
				<div class="col col--6of12 col--phone--12of12">
					<svg class="icon"><use xlink:href="#icon-{{service.icon}}" /></svg>&nbsp;&nbsp; <small>{{service.name}}</small>
				</div>
				{% endif %}
				{% endfor %}
				</div>
			</div>
		</div>

		<hr class="hr--full">

		<div class="grid grid--guttered">
			<div class="col col--4of12 col--tablet_portrait--6of12 col--phone--12of12">
				<h3>{{interface.policies}}</h3>
			</div>
			<div class="col col--8of12 col--tablet_portrait--10of12 col--phone--12of12">
				<div class="grid grid--tight_guttered">
					<div class="col col--6of12"><small>{{interface.check_in}}: <strong>{{hotel.check_in}}</strong></small></div>
					<div class="col col--6of12"><small>{{interface.check_out}}: <strong>{{hotel.check_out}}</strong></small></div>

					{% for item in hotel.policies %}
					<div class="col col--12of12" data-list-item><small>{{item}}</small></div>
					{% endfor %}
				</div>
			</div>
		</div>

		<hr class="hr--full">

		<div class="grid grid--guttered">
			<div class="col col--4of12 col--tablet_portrait--6of12 col--phone--12of12">
				<h3>{{interface.services}}</h3>
			</div>
			<div class="col col--8of12 col--tablet_portrait--10of12 col--phone--12of12">
				<div class="grid grid--tight_guttered">
					{% for service in room.services %}
					{% if service.type == 'Service' %}
					<div class="col col--6of12 col--phone--12of12">
						<svg class="icon"><use xlink:href="#icon-{{service.icon}}" /></svg>&nbsp;&nbsp; <small>{{service.name}}</small>
					</div>
					{% endif %}
					{% endfor %}
				</div>
			</div>
		</div>

		<hr class="hr--full">

		<div class="grid grid--guttered">
			<div class="col col--4of12 col--tablet_portrait--6of12 col--phone--12of12">
				<h3>{{interface.paid_services}}</h3>
			</div>
			<div class="col col--8of12 col--tablet_portrait--10of12 col--phone--12of12">
				<div class="grid grid--tight_guttered">
					{% for service in room.services %}
					{% if service.type == 'Paid service' %}
					<div class="col col--6of12 col--phone--12of12">
						<svg class="icon"><use xlink:href="#icon-{{service.icon}}" /></svg>&nbsp;&nbsp; <small>{{service.name}}</small>
					</div>
					{% endif %}
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
</article>
{% endblock %}





