
{% extends "hotels/hotel.html" %}


{% block title %}{{interface.story}} – {% if room %}{{room.name}} – {% endif %}{{ super() }}{% endblock %}
{% block description %}{{interface.story}} – {% if room %}{{room.description}} – {% endif %}{{ super() }}{% endblock %}
{% block og_title %}{{interface.story}} – {% if room %}{{room.name}} – {% endif %}{{ super() }}{% endblock %}
{% block og_description %}{{interface.story}} – {% if room %}{{room.description}} – {% endif %}{{ super() }}{% endblock %}



{% block main %}
<article class="padded--under_header" data-hotel-id="{{hotel._id}}">
	<div class="hero" style="background-image: url({{hotel.story_photo|asset}}?w=1400)">
		<div class="hero__box hero__box--full">
			<div class="hero__box__content">
				<h3 class="small_bottom"><a href="{{lang_route}}hotels/{{hotel.identifier}}">&lt; {{interface.back_to_hotel}}</a></h3>
				<h1>{{interface.story}}</h1>
			</div>
		</div>
	</div>

	<div class="padded padded--thick max_width">
		<div class="big_bottom">{{hotel.story|rich}}</div>
	</div>
</article>
{% endblock %}


{% block footer_first %}
<div class="hero hero--small hide_on_phone" {% if hotel.rooms[0] %}style="background-image: url({{hotel.rooms[0].featured_photo|asset}}?w=800)"{% endif %}>
	<div class="hero__box hero__box--full">
		<div class="hero__box__content">
			<a href="{{lang_route}}hotels/{{hotel.identifier}}/rooms" class="button button--secondary">{{interface.see_rooms}}</a>
		</div>
	</div>
</div>
{% endblock %}






