
{% extends "hotels/hotel.html" %}


{% block title %}{{pieces.hotels.story}} – {% if room %}{{room.name}} – {% endif %}{{ super() }}{% endblock %}
{% block description %}{{pieces.hotels.story}} – {% if room %}{{room.description}} – {% endif %}{{ super() }}{% endblock %}
{% block og_title %}{{pieces.hotels.story}} – {% if room %}{{room.name}} – {% endif %}{{ super() }}{% endblock %}
{% block og_description %}{{pieces.hotels.story}} – {% if room %}{{room.description}} – {% endif %}{{ super() }}{% endblock %}



{% block main %}
<article class="padded--under_header" data-hotel-id="{{hotel._id}}">
	<div class="hero" style="background-image: url({{hotel.story_photo|replace('https://d3hy1swj29dtr7.cloudfront.net/uploads', 'https://saturdays.imgix.net')|replace('https://d3hy1swj29dtr7.cloudfront.net/dauphin', 'https://dauphin.imgix.net')}}?auto=format,compress&w=1400)">
		<div class="hero__box hero__box--full">
			<div class="hero__box__content">
				<h3 class="small_bottom"><a href="{{lang_route}}hotels/{{hotel.route}}">&lt; {{pieces.hotels.back_to_hotel}}</a></h3>
				<h1>{{pieces.hotels.story}}</h1>
			</div>
		</div>

		{% if request.current_session_is_admin %}
		<div data-hotel="{{hotel._id}}" data-key="story_photo" data-editable-background-image="{{hotel.story_photo}}"></div>
		{% endif %}
	</div>

	<div class="padded padded--thick max_width">
		<div class="big_bottom">{{hotel.story|editable('story', {'hotel': hotel._id})}}</div>
	</div>
</article>
{% endblock %}


{% block footer_first %}
<div class="hero hero--small hide_on_phone" {% if hotel.rooms[0] %}style="background-image: url({{hotel.rooms[0].featured_photo|replace('https://d3hy1swj29dtr7.cloudfront.net/uploads', 'https://saturdays.imgix.net')|replace('https://d3hy1swj29dtr7.cloudfront.net/dauphin', 'https://dauphin.imgix.net')}}?auto=format,compress&w=800)"{% endif %}>
	<div class="hero__box hero__box--full">
		<div class="hero__box__content">
			<a href="{{lang_route}}hotels/{{hotel.route}}/rooms" class="button button--secondary">{{pieces.hotels.see_rooms}}</a>
		</div>
	</div>
</div>
{% endblock %}






