
{% extends "layout.html" %}


{% block main_classes %}grid grid--full_height middle center{% endblock %}

{% block main %}

<div id="background"></div>

<section class="text_center" style="position: relative; z-index: 1">

	<h3 class="color_transition">{{interface.hotels}}</h3>

	<hr class="color_transition">

	<div class="padded">
	{% for hotel in hotels %}
		{% if hotel.extended_family %}
		<a href="{{hotel.url}}" target="_blank" data-background-image="{{hotel.featured_photo|asset}}?auto=format,compress&w=1400"><h2 class="padded_bottom">{{hotel.name}}</h2></a>
		{% else %}
		<a href="{{lang_route}}hotels/{{hotel.identifier}}" data-background-image="{{hotel.featured_photo|asset}}?auto=format,compress&w=1400"><h2 class="padded_bottom">{{hotel.name}}</h2></a>
		{% endif %}
	{% endfor %}
	</div>

	<hr class="color_transition">

</section>
{% endblock %}


{% block footer %}{% endblock %}



