
{% extends "layout.html" %}


{% block main_classes %}grid grid--full_height middle center{% endblock %}

{% block main %}

<div id="background"></div>

<section class="text_center" style="position: relative; z-index: 1">

	<h3 class="color_transition">{{interface.hotels}}</h3>

	<hr class="color_transition">

	<div class="padded">
		{% for hotel in interface.hotels_list %}
		{% if 'http' in hotel[1] %}
		<a href="{{hotel[1]}}" target="_blank"><h2 class="padded_bottom">{{hotel[0]}}</h2></a>
		{% else %}
		<a href="{{lang_route}}hotels/{{hotel[1]}}"><h2 class="padded_bottom">{{hotel[0]}}</h2></a>
		{% endif %}
		{% endfor %}
	</div>

	<hr class="color_transition">

</section>
{% endblock %}


{% block footer %}{% endblock %}



