
{% extends "layout.html" %}


{% block main_classes %}grid grid--full_height middle center{% endblock %}

{% block main %}

<div id="background"></div>

<section class="text_center" style="position: relative; z-index: 1">

	<h3 class="color_transition">{{pieces.index.hotels|editable('hotels', {'piece': pieces.index._id})}}</h3>

	<hr class="color_transition">

	<div class="padded">
	{% for hotel in hotels if not hotel.extended_family %}
		<a href="/{{hotel.route}}" data-background-image="{{hotel.featured_photo}}"><h2 class="padded_bottom">{{hotel.name}}</h2></a>
	{% endfor %}
	</div>

	<hr class="color_transition">

	<h3 class="padded color_transition">{{pieces.index.extended_family|editable('extended_family', {'piece': pieces.index._id})}}</h3>

	<div class="grid grid--middle grid--center">
	{% for hotel in hotels if hotel.extended_family %}
		<div class="col"><h2 class="h2--small"><a href="{{hotel.url}}" target="_blank" data-background-image="{{hotel.featured_photo}}">{{hotel.name}}</a></h2></div>
	
		{% if not loop.last %}<div class="col"><hr class="hr--vertical color_transition"></div>{% endif %}
	{% endfor %}
	</div>

</section>
{% endblock %}


{% block footer %}{% endblock %}



