
{% extends "layout.html" %}

{% if page.hotel_id %}
{% set hotel = hotels|selectattr("identifier", "eq", page.hotel_id)|first %}
{% endif %}


{% block main %}
{% if page.photo %}
<div class="padded--under_header">
	<div class="hero hero--small" style="background-image: url({{page.photo|asset}}?w=1400)">
		<div class="hero__box">
			<div class="hero__box__content">
				{% if page.hotel_id %}<h3 class="small_bottom"><a href="{{lang_route}}hotels/{{page.hotel_id}}">&lt; {{interface.back_to_hotel}}</a></h3>{% endif %}
				<h1>{{page.title}}</h1>
			</div>
		</div>
	</div>

	<div class="padded padded--thick max_width">
		<div class="underline_links">{{page.body|rich}}</div>
	</div>
</div>
{% else %}
<div class="padded padded--vertically_thick max_width">
	<h1>{{page.title}}</h1>
	<div class="underline_links">{{page.body|rich}}</div>
</div>
{% endif %}
{% endblock %}