
// #BUTTONS

button,
.button {
	cursor: pointer;
	display: inline-block;
	
	font-family: $alternate_font;
	font-weight: bold;
	font-size: (12/$base) * 1rem;
	line-height: 1;
	text-align: center;
	text-decoration: none;
	letter-spacing: $letter_spacing;
	text-transform: uppercase;
	color: $light_background;
	
	position: relative;
	padding: $vertical_rythm $vertical_rythm*3;
	background: $dark_background;
	border: 1px solid transparent;
	border-radius: $border_radius;

	@include transition(background $fast, color $fast, border-color $fast, opacity $fast);


	&:hover,
	&:focus {
		color: $light_background;
		background: $highlight;
	}

	&:active {
		@include shadow(inset 0 0.25rem 2rem fade-out($black, 0.8));
	}

	&[disabled] {
		pointer-events: none;
		opacity: 0.2;
	}


	&.button--secondary {
		color: $dark_background;
		background: $light_background;

		&:hover,
		&:focus {
			color: $highlight;
			background: $dark_background;
		}
	}


	&.button--small {
		font-size: (10/$base) * 1rem;
		padding: $vertical_rythm/1.5 $vertical_rythm*2;
	}

	&.button--full {
		padding-right: 0;
		padding-left: 0;
		width: 100%;
	}

	&.button--no_corners {
		border-radius: 0;
	}

	&.button--facebook {
		color: $facebook_blue;
		background: transparent;
		border-color: $facebook_blue;

		&:hover,
		&:focus {
			color: $white;
			background: $facebook_blue;
		}
	}


	&.button--transparent,
	&.button--underline {
		color: inherit;
		background: transparent;
		padding: 0;
		border: 0;

		&:hover,
		&:focus {
			color: $highlight;
		}

		&:active {
			top: 1px;
			@include shadow(none);
		}
	}

	&.button--underline {
		color: $highlight;
		border-bottom: 1px solid;
		border-radius: 0;

		&.red {
			color: $red;
		}

		&:hover,
		&:focus {
			color: $body_color;
		}
	}

	.button_group & {
		border-radius: 0;
		border-left: none;

		&:first-child {
			border-left: 1px solid;
			border-top-left-radius: $border_radius;
			border-bottom-left-radius: $border_radius;
		}

		&:last-child {
			border-top-right-radius: $border_radius;
			border-bottom-right-radius: $border_radius;
		}
	}
}




