// #IMAGES

img {
	display: block;
	max-width: 100%;

	&.img--center {
		margin: 0 auto;
	}

	&.img--full {
		width: 100%;
		margin: 0 auto $vertical_rythm;
	}

	&.img--clickable {
		cursor: pointer;
		position: relative;
		width: 20vw;

		border: 1px solid $highlight;

		@include transition(border-color $fast);

		&:active {
			top: 1px;
		}

		&[data-piece] {
			border-color: $green;
		}

		&[data-room] {
			border-color: $facebook_blue;
		}
	}
}