

// #SLIDERS

.slider {
	position: relative;
	overflow-x: hidden;
}

	.slider__container {
		@extend .grid;
		@extend .grid--nowrap;
		@extend .grid--middle;

		overflow-y: hidden;
		width: 100%;

		@include transition(height $slow);
	}


		.slide {
			width: 100%;

			@include transformer($slow);
			@include translate(0, 0);
		}





