

// #LOGIN

.login {
	@extend .overlay;
	@extend .overlay--full;
}

	.login__back {
		@extend .overlay__back;
	}


	.login__container {
		@extend .overlay__container;
		padding: $gutter/2;

		max-width: (444/$base) * 1rem;
		background-color: $white;
	}

		.login__close {
			@extend .overlay__close;
		}