

// #RESERVATION

.reservation {
	position: fixed;
	bottom: $gutter/2;
	right: $gutter/2;
	border-bottom: 2px solid $grey;

	width: 100%;
	max-width: $max_width/1.2;

	@media #{$phone} {
		bottom: 0;
		right: 0;
		max-width: none;
		border-bottom: 0;
	}
}


	.reservation__checkbox {
		display: none;

		& + label {
			display: block;
			position: relative;
			z-index: 2;
			margin-bottom: 0;

			.icon {
				@include transformer($slow);
				@include transform(rotate(0deg));
			}
		}

		&:checked + label {
			.icon {
				@include transform(rotate(180deg));
			}
		}
	}


	.reservation__content {
		// overflow: hidden;
		max-height: none;
		position: relative;
		z-index: 2;

		@include transition(max-height $slow);

		.reservation__checkbox:checked + label + & {
			max-height: 0 !important;
		}
	}

	.reservation__popup {
		position: absolute;
		top: 0;
		right: 100%;
		height: 100%;
		width: $max_width/1.2;
		color: white;
		background-color: $black;

		@include translate(0, 0);
		@include transition(transform $slow $fast);

		.reservation__checkbox:checked + label ~ & {
			@include translate(100%, 0);
			@include transition(transform $slow);
		}

		@media #{$phone} {
			top: auto;
			right: 0;
			bottom: 100%;
			width: 100%;
			@include translate(0, 0%);
			@include transition(transform $slow);

			.reservation__checkbox:checked + label ~ & {
				@include translate(0, 100%);

				&[style] {
					@include translate(0, 0);
				}
			}
		}

		button {
			position: absolute;
			top: 0;
			right: 0;
			padding: $vertical_rythm;

			.icon {
				width: $icon_size/1.5;
				height: $icon_size/1.5;
			}
		}
	}


.rdt {
position: relative;
}
.rdtPicker {
display: none;
position: absolute;
width: 250px;
padding: 4px;
margin-top: 1px;
z-index: 99999 !important;
background: $white;
box-shadow: 0 1px 3px rgba(0,0,0,.1);
border: 1px solid $grey;
}
.rdtOpen .rdtPicker {
display: block;
}
.rdtStatic .rdtPicker {
box-shadow: none;
position: static;
}

.rdtPicker .rdtTimeToggle {
text-align: center;
}

.rdtPicker table {
width: 100%;
margin: 0;
}
.rdtPicker td,
.rdtPicker th {
text-align: center;
height: 28px;
}
.rdtPicker td {
cursor: pointer;
}
.rdtPicker td.rdtDay:hover,
.rdtPicker td.rdtHour:hover,
.rdtPicker td.rdtMinute:hover,
.rdtPicker td.rdtSecond:hover,
.rdtPicker .rdtTimeToggle:hover {
background: $grey;
cursor: pointer;
}
.rdtPicker td.rdtOld,
.rdtPicker td.rdtNew {
color: $grey;
}
.rdtPicker td.rdtToday {
position: relative;
}
.rdtPicker td.rdtToday:before {
content: '';
display: inline-block;
border-left: 7px solid transparent;
border-bottom: 7px solid $green;
border-top-color: rgba(0, 0, 0, 0.2);
position: absolute;
bottom: 4px;
right: 4px;
}
.rdtPicker td.rdtActive,
.rdtPicker td.rdtActive:hover {
background-color: $highlight;
color: $white;
text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.rdtPicker td.rdtActive.rdtToday:before {
border-bottom-color: $white;
}
.rdtPicker td.rdtDisabled,
.rdtPicker td.rdtDisabled:hover {
background: none;
color: $grey;
cursor: not-allowed;
}

.rdtPicker td span.rdtOld {
color: $grey;
}
.rdtPicker td span.rdtDisabled,
.rdtPicker td span.rdtDisabled:hover {
background: none;
color: $grey;
cursor: not-allowed;
}
.rdtPicker th {
border-bottom: 1px solid $grey--light;
}
.rdtPicker .dow {
width: 14.2857%;
border-bottom: none;
}
.rdtPicker th.rdtSwitch {
width: 100px;
}
.rdtPicker th.rdtNext,
.rdtPicker th.rdtPrev {
font-size: 21px;
vertical-align: top;
}

.rdtPrev span,
.rdtNext span {
display: block;
-webkit-touch-callout: none; /* iOS Safari */
-webkit-user-select: none;   /* Chrome/Safari/Opera */
-khtml-user-select: none;    /* Konqueror */
-moz-user-select: none;      /* Firefox */
-ms-user-select: none;       /* Internet Explorer/Edge */
user-select: none;
}

.rdtPicker th.rdtDisabled,
.rdtPicker th.rdtDisabled:hover {
background: none;
color: $grey;
cursor: not-allowed;
}
.rdtPicker thead tr:first-child th {
cursor: pointer;
}
.rdtPicker thead tr:first-child th:hover {
background: $grey;
}

.rdtPicker tfoot {
border-top: 1px solid $white;
}

.rdtPicker button {
border: none;
background: none;
cursor: pointer;
}
.rdtPicker button:hover {
background-color: $grey;
}

.rdtPicker thead button {
width: 100%;
height: 100%;
}

td.rdtMonth,
td.rdtYear {
height: 50px;
width: 25%;
cursor: pointer;
}
td.rdtMonth:hover,
td.rdtYear:hover {
background: $grey;
}

.rdtCounters {
display: inline-block;
}

.rdtCounters > div {
float: left;
}

.rdtCounter {
height: 100px;
}

.rdtCounter {
width: 40px;
}

.rdtCounterSeparator {
line-height: 100px;
}

.rdtCounter .rdtBtn {
height: 40%;
line-height: 40px;
cursor: pointer;
display: block;

-webkit-touch-callout: none; /* iOS Safari */
-webkit-user-select: none;   /* Chrome/Safari/Opera */
-khtml-user-select: none;    /* Konqueror */
-moz-user-select: none;      /* Firefox */
-ms-user-select: none;       /* Internet Explorer/Edge */
user-select: none;
}
.rdtCounter .rdtBtn:hover {
background: #eee;
}
.rdtCounter .rdtCount {
height: 20%;
font-size: 1.2em;
}

.rdtMilli {
vertical-align: middle;
padding-left: 8px;
width: 48px;
}

.rdtMilli input {
width: 100%;
font-size: 1.2em;
margin-top: 37px;
}

.rdtPicker {
top: auto;
bottom: 100%;
}

	