
{% if room %}
{% set hotel = room.parent %}
{% endif %}

{% if rooms %}
{% set hotel = rooms[0].parent %}
{% endif %}

{% if not hotel %}
{% set hotel = hotels[0] %}
{% endif %}

<div class="padded padded--thick">
	<div class="grid grid--guttered">
		<div class="col col--5of12 col--tablet_landscape--9of12 col--phone--12of12">
			<h4 class="flat_bottom">{{hotel.full_name}}</h4>
			<p class="p--small">
				<a href="{{hotel.address_link}}" target="_blank">{{hotel.full_address}}</a>
			</p>
			<p class="p--small">
				{{interface.toll_free}}: <a href="tel:{{hotel.toll_free}}" target="_blank">{{hotel.toll_free}}</a><br>
				T: <a href="tel:{{hotel.phone}}" target="_blank">{{hotel.phone}}</a><br>
				F: <a href="tel:{{hotel.fax}}" target="_blank">{{hotel.fax}}</a><br>
				<a href="mailto:{{hotel.email}}" target="_blank">{{hotel.email}}</a>
			</p>
		</div>
		<div class="col col--2of12 col--tablet_landscape--4of12 col--phone--6of12">
			<p class="p--small p--thick_lines">
				<a href="{{lang_route}}hotels/{{hotel.identifier}}/promotions">{{interface.promotions}}</a><br>
				<a href="{{lang_route}}hotels/{{hotel.identifier}}/rooms">{{interface.rooms}}</a><br>
				<a href="{{lang_route}}hotels/{{hotel.identifier}}/story">{{interface.story}}</a><br>
				<a href="{{lang_route}}hotels/{{hotel.identifier}}/proximity">{{interface.proximity}}</a><br>
				<a href="{{lang_route}}hotels/{{hotel.identifier}}/photos">{{interface.hotel_photos}}</a>
			</p>
		</div>

		<div class="col col--2of12 col--tablet_landscape--4of12 col--phone--6of12">
			<p class="p--small p--thick_lines">
				{% for page in pages if not page.hide_from_navigation %}
				<a href="/pages/{{page.identifier}}">{{page.name}}</a>{% if not loop.last %}<br>{% endif %}
				{% endfor %}
			</p>
		</div>

		<div class="col col--12of12 medium_top">
			<p class="p--small">{{interface.copyright}}</p>
		</div>
	</div>

	<div class="padded grey_back phone_only"></div>
</div>