
{% if room %}
{% set hotel = room.parent %}
{% endif %}

{% if rooms %}
{% set hotel = rooms[0].parent %}
{% endif %}

{% if not hotel %}
{% set hotel = hotels[0] %}
{% endif %}

<div class="padded padded--thick">
	<div class="grid grid--guttered">
		<div class="col col--5of12 col--tablet_landscape--9of12 col--phone--12of12">
			<h4 class="flat_bottom">{{'full_name'|editable(hotel, 'hotel')}}</h4>
			<p class="p--small">
				{% if request.current_session_is_admin %}
				Google link: {{'address_link'|editable(hotel, 'hotel')}}<br>
				{% endif %}
				<a href="{{hotel.address_link}}" target="_blank">{{'full_address'|editable(hotel, 'hotel')}}</a>
			</p>
			<p class="p--small">
				{{pieces.navigation.toll_free}}: <a href="tel:{{hotel.toll_free}}" target="_blank">{{'toll_free'|editable(hotel, 'hotel')}}</a><br>
				T: <a href="tel:{{hotel.phone}}" target="_blank">{{'phone'|editable(hotel, 'hotel')}}</a><br>
				F: <a href="tel:{{hotel.fax}}" target="_blank">{{'fax'|editable(hotel, 'hotel')}}</a><br>
				<a href="mailto:{{hotel.email}}" target="_blank">{{'email'|editable(hotel, 'hotel')}}</a>
			</p>
		</div>
		<div class="col col--2of12 col--tablet_landscape--4of12 col--phone--6of12">
			<p class="p--small p--thick_lines">
				<a href="/hotels/{{hotel.route}}/rooms">{{pieces.hotels.rooms}}</a><br>
				<a href="/hotels/{{hotel.route}}/story">{{pieces.hotels.story}}</a><br>
				<a href="/hotels/{{hotel.route}}/proximity">{{pieces.hotels.proximity}}</a>
			</p>
		</div>

		<div class="col col--2of12 col--tablet_landscape--4of12 col--phone--6of12">
			<p class="p--small p--thick_lines">
				{% for page in pages %}
				<a href="/pages/{{page.route}}">{{page.name}}</a>{% if not loop.last %}<br>{% endif %}
				{% endfor %}
			</p>
		</div>

		<div class="col col--12of12 medium_top">
			<p class="p--small">{{'navigation.copyright'|editable(pieces, 'piece')}}</p>
		</div>
	</div>

	<div class="padded grey_back phone_only"></div>
</div>