
{% if room %}
{% set hotel = room.parent %}
{% endif %}

{% if rooms %}
{% set hotel = rooms[0].parent %}
{% endif %}


<nav class="nav grid grid--spaced grid--middle">
	<div class="col col--4of12">
		<input type="checkbox" id="menu" class="header__menu_checkbox">
		<label class="em" for="menu">{% include 'icons/menu.svg' %} Menu</label>

		<div class="header__menu padded dark_back grid grid--full_height grid--vertically_spaced">
			<div class="col col--12of12"></div>
			<div class="col col--12of12">
				{% if hotel %}
				<h2 class="flat_bottom"><a href="{{lang_route}}hotels/{{hotel.identifier}}">{{interface.home}}</a></h2>
				<h2 class="flat_bottom"><a href="{{lang_route}}">{{interface.all_hotels}}</a></h2>
				<h2 class="flat_bottom"><a href="{{lang_route}}hotels/{{hotel.identifier}}/rooms">{{interface.rooms}}</a></h2>

				{% for room in hotel.rooms %}
				<h4 class="flat_bottom header__menu__indented"><a href="{{lang_route}}hotels/{{hotel.identifier}}/rooms/{{room.identifier}}">{{room.name}}</a></h4>
				{% endfor %}

				<h2 class="flat_bottom medium_top"><a href="{{lang_route}}hotels/{{hotel.identifier}}/promotions">{{interface.promotions}}</a></h2>
				<h2 class="flat_bottom"><a href="{{lang_route}}hotels/{{hotel.identifier}}/story">{{interface.story}}</a></h2>
				<h2 class="flat_bottom"><a href="{{lang_route}}hotels/{{hotel.identifier}}/proximity">{{interface.proximity}}</a></h2>
				<h2 class="medium_bottom"><a href="{{lang_route}}hotels/{{hotel.identifier}}/photos">{{interface.hotel_photos}}</a></h2>

				{% else %}

				{% for hotel in hotels if not hotel.extended_family %}
				<h2 class="{% if loop.last %}medium_bottom{% else %}flat_bottom{% endif %}"><a href="{{lang_route}}hotels/{{hotel.identifier}}">{{hotel.name}}</a></h2>
				{% endfor %}

				{% for hotel in hotels if hotel.extended_family %}
				<h4 class="{% if loop.last %}medium_bottom{% else %}flat_bottom{% endif %}"><a href="{{hotel.url}}" target="_blank">{{hotel.name}}</a></h4>
				{% endfor %}

				{% endif %}

				<p class="p--thick_lines p--small">
					{% for page in pages if not page.hide_from_navigation %}
					<a href="{{lang_route}}pages/{{page.identifier}}">{{page.title}}</a>{% if not loop.last %}<br>{% endif %}
					{% endfor %}
				</p>
			</div>
			<div class="col col--12of12">
				{# <div class="grid grid--tight_guttered">
					<div class="col"><a href="#">{% include 'icons/facebook.svg' %}</a></div>
					<div class="col"><a href="#">{% include 'icons/instagram.svg' %}</a></div>
					<div class="col"><a href="#">{% include 'icons/pinterest.svg' %}</a></div>
				</div> #}
			</div>
		</div>
		
	</div>
	<div class="header__logo text_center">
		<a href="{{lang_route}}{% if hotel %}{% if current_path != '/hotels/'+hotel.identifier %}hotels/{{hotel.identifier}}{% endif %}{% endif %}">
			{% include 'icons/logo.svg' %}
		</a>
	</div>
	<div class="col col--4of12 grid grid--middle grid--right">

		{% if hotel %}
		<div class="header__show_sub hide_on_tablet_portrait">
			<strong>{{hotel.name}}</strong><br>
			<a href="{{hotel.address_link}}" target="_blank" class="a--highlight">{{hotel.address}}</a>
			<a href="tel:{{hotel.toll_free}}" target="_blank" class="a--highlight">{{hotel.toll_free}}</a>
		</div>

		<div class="header__sub hide_on_tablet_portrait">
			{% for other_hotel in hotels %}
			{% if other_hotel.extended_family %}
			<a href="{{other_hotel.url}}" target="_blank" class="header__sub__link">{{other_hotel.name}}</a>
			{% else %}
			<a href="{{lang_route}}hotels/{{other_hotel.identifier}}" class="header__sub__link">{{other_hotel.name}}</a>
			{% endif %}
			{% endfor %}
		</div>

		<hr class="hr--vertical hr--vertical">
		{% endif %}

		<a href="{% if lang != 'en' %}/en{% endif %}{{current_path}}" class="em">{% if lang != 'en' %}En{% else %}Fr{% endif %}</a>	
	</div>
</nav>